body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    float:left;
    width: 35%;
    height: 100%;
    position: fixed;
    overflow: none;
    background: red;
}

main {
    float:right;
    width: 65%;
    height: 1000px;
    overflow: auto;
    background: aqua;
    clear: both;
}